body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 20px;
}
h1 {
    text-align: center;
    color: #d6336c;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
    color: #444;
    margin-bottom: 10px;
    font-size: 1.5em;
}
table {
    width: 60%; /* Reduce table width */
    margin: 0 auto; /* Ensure table is centered horizontally */
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle shadow */
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #d6336c;
    color: white;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f1f1f1;
}
